<div class="management-page">
  <h1><%= title %></h1>

  <% if (messages) { %>
    <%- messages() %>
  <% } %>

  <p class="mgmt-subtitle">You're logged in ✅</p>

  <ul class="mgmt-actions">
    <li><a href="/account/">Account Home</a></li>
    <li><a href="/inv/">Inventory</a></li>
  </ul>
</div>